:root {
    --primary-color: #dcbb89;
    --secondary-color: #594225;
    --font1-color: #401902;
    --font2-color: #260801;
    --bg-color: rgb(237, 224, 219);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Heading Styling Start */
header {
    padding: 30px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 3;
}

header h1 {
    font-weight: bolder;
    font-size: 40px;
    color: var(--font1-color);
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 0 10px;
    border-bottom: 3px solid var(--font1-color);
    font-size: 1.55vw;
}

header nav ul li a {
    width: 80%;
    padding: 5px 10px;
    font-weight: lighter;
}

header nav ul li a:hover {
    background-color: var(--font1-color);
    color: var(--primary-color);
}

header a {
    padding: 5px 10px;
    text-decoration: none;
    color: var(--font1-color);
}

header a:hover {
    color: var(--primary-color);
    background-color: var(--font1-color);
}

body {
    color: var(--font2-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
}
/* Heading Styling End */

/* Footer Styling Start */
footer {
    background-color: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer a {
    color: var(--font1-color);
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
}
/* Footer Stylign End */

/* Hero Styling */
.hero {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    z-index: -1;
}

.hero-accessory {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 40px 15px 0px;
}

.hero h3 {
    position: absolute;
    right: 130px;
    top: 260px;
    margin: 10px 0;
    padding: 10px 20px;
    color: var(--font1-color);
    border: 3px solid var(--font1-color);
    background-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0,0, 0,0.5);
    z-index: 2;
}

.hero img {
    border: 3px solid var(--font1-color);
    border-radius: 5%;
    box-shadow: 0 0 5px rgba(0,0, 0,0.5);
    z-index: 1;
}
/* End Hero Styling */

/* Content Styling */
.content {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-title {
    width: 25%;
    padding: 20px 20px;
    font-size: 50px;
    text-align: right;
    color: var(--font2-color);
}

.content-content {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding: 10px 20px;
    font-size: 20px;
    color: var(--font2-color);
}

.right-border {
    border-right: 5px solid var(--font2-color);
}

/* About Me Styling Start */
#about p {
    flex: 1;
}
/* About Me Styling End */

/* Work Styling Start */
#work .content-content {
    margin: 0 auto;
    justify-content:space-around;
}

.project {
    position: relative;
    width: auto;
    margin: 10px 10px;
    background-color: var(--primary-color);
    border: 5px solid var(--primary-color);
}

.first-project{
    width: 91.5%;
}

.project img {
    transition: 0.25s ease;
    width: 500px;
    height: 100%;
    object-fit: cover;
    object-position: left;
    z-index: 1;
}

.first-project img {
    width: 100%;
    object-position: center;
}

.project img:hover {
    transition: .25s ease;
    opacity: 0.3;
}

.project .desc {
    position: absolute;
    top: 30%;
    padding: 15px 10px;
    text-align: left;
    background-color: var(--primary-color);
    z-index: 2;
}

.first-project .desc {
    top: 77%;
}
/* Work Styling End */

/* Contact Styling Start */
#contact .content-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

#contact ul li {
    font-size: 25px;
    border-bottom: 3px solid var(--font1-color);
}

#contact ul li a {
    padding: 5px 10px;
    color: var(--font1-color);
    text-decoration: none;
}

#contact ul li a:hover {
    background-color: var(--font2-color);
    color: var(--bg-color);
}

/* Contact Styling End */

/* Media Queries */
/* keeps footer note invisible for any screen larger than 980px */
@media screen and (min-width: 980px) {
    footer a {
        opacity: 0;
    }
}

/* media query for smaller computer screens */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 10;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .hero h3 {
        right: 175px;
        top: 300px;
    }

    #about p {
        padding: 10px 30px;
    }

    .project,
    .first-project {
        width: 100%;
        overflow: hidden;
    }

    .project a img,
    .first-project a img {
        height: 150px;
        width: 150%;
        object-fit: cover;
        object-position: right;
        overflow: hidden;
    }

    .first-project .desc {
        top: 30%;
    }
}

/* media query for tablets and smaller */
@media screen and (max-width: 768px) {
    .content-title {
        font-size: 30px;
    }

    #contact ul li a,
    #contact ul li {
        font-size: 20px;
    }
}

/* media query for phones and smaller */
@media screen and (max-width: 575px) {
    .content-title {
        font-size: 25px;
    }

    #contact ul li a,
    #contact ul li {
        font-size: 20px;
    }
}